* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#i6cd{
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:url('assets/back.png');
}
.gjs-row{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
  padding:10px;
}
.gjs-cell{
  min-height:75px;
  flex-grow:1;
  flex-basis:100%;
}
#i1rg{
  height:100%;
  padding:0px 10px 0px 10px;
}
#i9uq{
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(to bottom, #adc7e4 0%, #e1e1e1 100%);
  height:100%;
  display:flex;
  justify-content:space-around;
  flex-direction:column;
  margin:0px 0px 0px 0px;
}
#ihq3{
  flex-basis:50%;
}
#i1xc{
  flex-basis:50%;
}
#i8bg{
  color:black;
  height:200px;
  align-self:center;
  float:none;
  justify-content:space-around;
  display:flex;
  margin:50px 0px 0px 0px;
}
#i5u3{
  padding:10px;
  display:flex;
  justify-content:flex-start;
  flex-direction:column;
  align-items:center;
  font-size:15px;
  font-family:Arial, Helvetica, sans-serif;
}
#i29yt{
  text-align:left;
}
#in8ce{
  padding:10px;
  font-size:15px;
  font-family:Arial, Helvetica, sans-serif;
}
#ixpwf{
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:scroll;
  background-size:contain;
  background-image:url('assets/badge-color.png');
  height:100px;
  margin:30px 0px 30px 0px;
  width:319px;
  align-self:center;
  display:inline;
  max-width:319px;
  opacity:1;
  border-radius:11px 11px 11px 11px;
  min-height:100px;
}
#idzo1{
  padding:10px;
  align-self:center;
  font-size:15px;
  font-family:Arial, Helvetica, sans-serif;
}
#i8utp{
  padding:10px 10px 30px 10px;
  align-self:center;
}
@keyframes fadeEffect{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
@media (max-width: 768px){
  .gjs-row{
    flex-wrap:wrap;
  }
}
